@import 'utilities' ;
@import 'fonts';
@import 'colors' ;
@import 'media_queries';
body {
        font-family: $Poppins;
        overflow-x: hidden;
}
.container {
    position: relative;
    width: 100%;
    //-----------searchForm-----------------------
    .searchForm {
        width: 100%;
        margin-top: 100px ;
        display: flex;
        justify-content: center;
        position: relative;
            .error{
                background: rgba(0,0,0,0.5);
                color: $white;
                border-radius: 50px;
                position: absolute;
                bottom: 120%;
                left: 50%;
                transform: translateX(-50%);
                
                .arrow-down-1 {
                    position: absolute;
                    bottom: -8px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0; 
                    height: 0; 
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-top: 8px solid rgba(0,0,0,0.5);        
                  }
                .arrow-down-2 {
                    position: absolute;
                    bottom: -8px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0; 
                    height: 0; 
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-top: 8px solid rgba(252, 6, 6, 0.5);        
                  }
            }
            .hotelInput{
                font-family: $Poppins;
                padding: 12px 5px 12px 10px;
                font-size: 1rem;
                width: 60%;
                border: none;
                box-shadow: 0 0 6px $shadowColor;
                border-radius: 100px 0 0 100px;
                outline: none;
                color: $color2;
                @include Query(800px){
                    width: 80%;
                }  
            }
        

        .cityBtn {
            border-radius: 0 20px 20px 0;
            border: none;
            outline: none;
            font-size: 1rem;
            color: $white;
            background: $color1;
            padding: 12px;
            cursor: pointer;
            box-shadow: 0 0 6px $shadowColor;
            
        }
    }
    .t-recommend {
        width: 90%;
        margin: 25px  auto;
        color: $color2;
    }
    .grid-container {
        width: 90%;
        margin: 20px auto;
        grid-gap: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        
        .card {
            transition: 0.3s ease-in-out;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            // width: 250px;
            background-color: $white;
            box-shadow: 0 0 6px $shadowColor;
            margin: 0 auto;
            &.hidden{
                visibility: hidden;
            }
            img{
                width: 100%;
                height: 200px;
            }
            .hotel-name, .hotel-description, .watch-more, .hotel-price, .hotel-ratin, .hotel-city {
                padding: 5px;
                color: $color2;
            }
            .hotel-name {
                text-transform: capitalize;
            }
            .hotel-city {
                font-size: 0.8rem;
            }
            .hotel-description{
                overflow: hidden;
                overflow: hidden;
                text-overflow: ellipsis;
                word-wrap: break-word;
                max-width: 100%;
                max-height: 7.5em;
                white-space: wrap;    
                font-size: 0.9rem;
            }
            .watch-more {
                color: $color4;
                font-size:0.8rem ;
            }
            .hotel-rating {
                font-size: 0.7rem;
                padding: 5px;
                span {
                    background: $color4;
                    padding: 0 5px;
                    font-size: 0.8rem;
                    color: $white;
                    border-radius: 4px;
                }

            }
        }
    }
}
